{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Editar Cliente | Quichinet Services{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-white">Edicion de cliente</h2>
    <div class="mt-1">
        <div class="card">
            <div class="card-body">
                <form action="/editarCliente/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="codigo">ID Cliente</label>
                        <input type="text" name="codigo" value="{{cliente.id_cliente}}" readonly class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Cliente</label>
                        <input type="text" name="nombre" value="{{cliente.nombre_cliente}}"
                            class="form-control capitalize-first-letter" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido Cliente</label>
                        <input type="text" name="apellido" value="{{cliente.apellido_cliente}}"
                            class="form-control capitalize-first-letter" required>
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" name="dni" maxlength="8" value="{{cliente.dni_cliente}}"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 8);"
                            title="Debe contener solo 8 dígitos numéricos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección Cliente</label>
                        <input type="text" name="direccion" value="{{cliente.direccion_cliente}}"
                            class="form-control capitalize-first-letter" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" maxlength="9" value="{{cliente.telefono}}"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                            title="Debe contener solo 9 dígitos numéricos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha de Instalación de Servicio</label>
                        <input type="date" name="fecha" value="{{ cliente.fecha_conexion|date:'Y-m-d' }}"
                            class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary mt-2 btn-sm">Editar Cliente</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-secondary btn-sm">Regresar</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}