{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Editar Cliente | Quichinet Services{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-white">Edición de cliente</h2>
    <div class="mt-1">
        <div class="card">
            <div class="card-body">
                <form action="/editarCliente/" method="post">{% csrf_token %}
                    <div class="form-group">
                        <label for="codigo">ID Cliente</label>
                        <input type="text" name="codigo" value="{{cliente.id_cliente}}" readonly class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre Cliente</label>
                        <input type="text" name="nombre" value="{{cliente.nombre_cliente}}"
                            class="form-control capitalize-first-letter" required>
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido Cliente</label>
                        <input type="text" name="apellido" value="{{cliente.apellido_cliente}}"
                            class="form-control capitalize-first-letter" required>
                    </div>
                    <div class="form-group">
                        <label for="dni">DNI</label>
                        <input type="text" name="dni" maxlength="8" value="{{cliente.dni_cliente}}"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 8);"
                            title="Debe contener solo 8 dígitos numéricos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección Cliente</label>
                        <input type="text" name="direccion" value="{{cliente.direccion_cliente}}"
                            class="form-control capitalize-first-letter" required>
                    </div>
                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input type="text" name="telefono" maxlength="9" value="{{cliente.telefono}}"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                            title="Debe contener solo 9 dígitos numéricos" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha de Instalación de Servicio</label>
                        <input type="date" name="fecha" value="{{ cliente.fecha_conexion|date:'Y-m-d' }}"
                            class="form-control" required>
                    </div>
                    <!-- Nuevos campos agregados -->
                    <div class="form-group">
                        <label for="equipo">Equipo</label>
                        <select name="equipo" class="form-control" required onchange="validateSelection(this)">
                            <option value="">-- Antenas --</option>
                            <option value="LOCO 5AC" {% if cliente.equipo == "LOCO 5AC" %} selected {% endif %}>LOCO 5AC</option>
                            <option value="LITEBEAM 5" {% if cliente.equipo == "LITEBEAM 5" %} selected {% endif %}>LITEBEAM 5</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label for="ip">IP</label>
                        <input type="text" class="form-input form-control" id="ipv4" name="ipv4" value="{{cliente.ip}}"
                            placeholder="xxx.xxx.xxx.xxx" required />
                    </div>
                    <div class="form-group">
                        <label for="red">Red</label>
                        <select name="red" class="form-control" required onchange="validateSelection(this)">
                            <option value="">-- Antenas --</option>
                            <option value="Testing 1" {% if cliente.red == "Testing 1" %} selected {% endif %}>Testing 1</option>
                            <option value="Testing 2" {% if cliente.red == "Testing 2" %} selected {% endif %}>Testing 2</option>
                        </select>
                    </div>
                    <!-- Fin de los nuevos campos -->
                    <button type="submit" class="btn btn-primary mt-2 btn-sm">Editar Cliente</button>
                </form>
            </div>
            <div class="card-footer">
                <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-secondary btn-sm">Regresar</a>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        var ipv4_address = $('#ipv4');
        ipv4_address.inputmask({
            alias: "ip",
            greedy: false
        });
    });
</script>
{% endblock %}