{% extends 'includes/base.html' %}

{% load static %}
{% block content %}

<div class="container mt-4">
    <div id="formularioContainer" style="display: none;">
        <div id="formulario">
            <h2 class="mb-4">Agregar Nuevo Cliente</h2>
            <form action="/registrarCliente/" method="post" class="needs-validation">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-control capitalize-first-letter" required>
                    <div class="invalid-feedback">Por favor, introduce un nombre.</div>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" name="apellido" class="form-control capitalize-first-letter" required>
                    <div class="invalid-feedback">Por favor, introduce un apellido.</div>
                </div>
                <div class="form-group">
                    <label for="dni">DNI</label>
                    <input type="text" name="dni" maxlength="8" class="form-control"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 8);"
                        title="Debe contener solo 8 dígitos numéricos" required>
                    <div class="invalid-feedback">Por favor, introduce un DNI válido.</div>
                </div>
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" name="direccion" class="form-control capitalize-first-letter" required>
                    <div class="invalid-feedback">Por favor, introduce una dirección.</div>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" name="telefono" maxlength="9" class="form-control"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 9);"
                        title="Debe contener solo 9 dígitos numéricos" required>
                    <div class="invalid-feedback">Por favor, introduce un teléfono válido.</div>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha de Instalación de Servicio</label>
                    <input type="date" name="fecha" id="fecha" class="form-control" required>
                    <div class="invalid-feedback">Por favor, introduce una fecha válida.</div>
                </div>

                <button type="submit" class="btn btn-primary btn-sm mt-3">Agregar Cliente</button>
                <button type="button" class="btn btn-secondary btn-sm mt-3" onclick="cerrarFormulario()">Cerrar</button>
            </form>
        </div>
    </div>

    <h2 class="text-white">Listado de clientes</h2>
    <form action method="get" class="mb-3 form-inline">
        {% csrf_token %}
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label for="buscar" class="form-label mr-2 text-white">Buscar Cliente:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="buscar" name="buscar" value="{{ request.GET.buscar }}" class="form-control mr-2">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Buscar</button>
            </div>
            <div class="col-auto">
                <button type="button" id="mostrarFormulario" class="btn btn-primary"><i
                        class="bi bi-person-plus-fill"></i></button>
            </div>
        </div>
    </form>


    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered table-light">
            <thead class="thead-dark">
                <tr class="align-middle text-center">
                    <th class="d-none d-md-table-cell">ID</th>
                    <th>Nombre</th>
                    <th>DNI</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Instalación</th>
                    <th><i class="bi bi-brush-fill"></i></th>
                    <th>Pagos</th>
                </tr>
            </thead>
            <tbody>
                {% for c in clientes %}
                <tr class="align-middle text-center">
                    <td class="d-none d-md-table-cell">{{ c.id_cliente }}</td>
                    <td class="capitalize-first-letter">{{ c.nombre_cliente }} {{ c.apellido_cliente }}</td>
                    <td>{{ c.dni_cliente }}</td>
                    <td class="capitalize-first-letter">{{ c.direccion_cliente }}</td>
                    <td>{{ c.telefono }}</td>
                    <td>{{ c.fecha_conexion|date:"d/m/Y" }}</td>
                    <td>
                        <a href="{% url 'edicionCliente' c.id_cliente %}" class="btn btn-warning btn-sm mt-2 mb-2">
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a href="#" class="eliminar-cliente btn btn-danger btn-sm" data-cliente-id="{{ c.id_cliente }}"
                            data-eliminar-url="{% url 'eliminarCliente' 0 %}">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'informacionPago' c.id_cliente %}" class="btn btn-outline-secondary btn-sm">
                            <i class="bi bi-eye-fill"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
<script src="{% static 'js/index_js.js' %}"></script>

{% endblock %}