{% extends 'includes/base.html' %}
{% load static %}

{% block title %}Pagos Cliente | Quichinet Services{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2 class="mt-4 text-white">Listado de Pagos</h2>

    <h1 class="mt-4 text-white">ID Cliente: {{ cliente.id_cliente }}</h1>
    <h1 class="mt-4 text-white">Nombre Completo Cliente: {{ cliente.nombre_cliente }} {{ cliente.apellido_cliente }}
    </h1>

    <a href="/" class="btn btn-secondary btn-sm mb-3">Regresar</a>
    <a href="{% url 'formAgregarPago' cliente.id_cliente %}" class="btn btn-primary btn-sm mb-3">Agregar Pago</a>

    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered table-light">
            <thead class="thead-dark">
                <tr class="align-middle text-center">
                    <th><i class="bi bi-brush-fill"></i></th>
                    <th class="d-none d-md-table-cell">ID Pago</th>
                    <th>Monto</th>
                    <th>Pagara</th>
                    <th>Pago</th>
                    <th>Método</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for p in pagos %}
                <tr class="align-middle text-center">
                    <td><a href="#" class="eliminar-pago btn btn-danger btn-sm" data-pago-id="{{ p.id_pago }}"
                            data-eliminar-url="{% url 'eliminarPago' 0 %}"><i class="bi bi-trash"></i></a></td>
                    <td class="d-none d-md-table-cell">{{ p.id_pago }}</td>
                    <td>{{ p.monto_pago }}</td>
                    <td>{{ p.fecha_pago_esperada|date:"d/m/Y" }}</td>
                    <td>{{ p.fecha_pago_real|date:"d/m/Y" }}</td>
                    <td>{{ p.metodo_pago }}</td>
                    <td>
                        {% if not p.metodo_pago and not p.fecha_pago_real %}
                        <a href="#" class="btn btn-warning mostrar-formulario" data-pago-id="{{ p.id_pago }}"><i
                                class="bi bi-cash-coin"></i></a>

                        <div id="formulario{{ p.id_pago }}" style="display: none;">
                            <form id="form{{ p.id_pago }}" method="post" action="{% url 'cancelarPago' p.id_pago %}">
                                {% csrf_token %}
                                <label for="fecha_pago">Fecha de Pago:</label>
                                <input type="date" id="fecha_pago_{{ p.id_pago }}" name="fecha_pago"
                                    class="form-control" value="{{ fecha_actual }}" required>
                                <br>
                                <label for="metodo_pago">Método de Pago:</label>
                                <select id="metodo_pago_{{ p.id_pago }}" name="metodo_pago" class="form-control"
                                    required onchange="validateSelection(this)">
                                    <option value="">-- Métodos --</option>
                                    <option value="Efectivo">Efectivo</option>
                                    <option value="YAPE">YAPE</option>
                                    <option value="Transferencia bancaria">Transferencia bancaria</option>
                                </select>
                                <br>
                                <input type="submit" value="Cancelar Pago" class="btn btn-danger">
                            </form>
                        </div>


                        {% else %}
                        <i class="bi bi-bookmark-check-fill btn btn-success btn-sm"></i>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script src="{% static 'js/informacionPago_js.js' %}"></script>

{% endblock %}